[submodule "libs/pico-sdk"]
	path = libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "libs/pico-extras"]
	path = libs/pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "libs/ael"]
	path = libs/ael
	url = git@github.com:arminveres/ael
[submodule "libs/pico-oled"]
	path = libs/pico-oled
	url = git@github.com:arminveres/pico-oled
